//Copyright (c) 2017 Wilfredo Rosario
//
//Permission is hereby granted, free of charge, to any person obtaining a copy
//of this software and associated documentation files (the "Software"), to deal
//in the Software without restriction, including without limitation the rights
//to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
//copies of the Software, and to permit persons to whom the Software is
//furnished to do so, subject to the following conditions:
//
//The above copyright notice and this permission notice shall be included in
//all copies or substantial portions of the Software.
//
//THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
//IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
//FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
//AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
//LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
//OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
//THE SOFTWARE.
//
//This file and others are available at
//https://github.com/WilfredoRosario/RS
//
//This is a comment. It will be ignored.
//
//
//batch can be either true or false
//when set to true, batch does not allow for much user interaction
//when set to false, batch allows for user interaction
batch = true
//
//hyphen can be either true of false
//when true hyphen sets the front matter notation to  -fr
//when false hyphen sets the front matter notation to _fr
hyphen = true
//
//delete_role deletes the specified character sequence as a valid role for file names
//for example, roles can not be digits
//delete_role = \d+
//eoc files are not typical roles of images
//delete_role = eoc
//The best solution is to simply delete any roles the autoExtract portion obtains
//and specify the roles that should be checked.
//this deletes all roles
delete_role = (\w|\W)+
//this specifies the roles to check
//sample roles for postcards using recto/verso naming convention
//add_role = r_m
//add_role = r_d
//add_role = v_m
//add_role = v_d
//sample roles for archival material
eoc_exists = true
target_exists = true
//
//
//add_role = m
//add_role = d
//add_role = de


//pstart  = 1
//bkstart = 1
//frstart = 1

//pend  = 151
//bkend = 6
//frend = 12
uowDigits=10
//partner = fales
//cc  = aphe
//uowstart = 000001
//uowend = 000002
//postcard=true
//add_role = r_m
//add_role = r_d
//add_role = v_m
//add_role = v_d
role_none = false
role_archival = true
role_postcard = false
role_other = false
add_role = m
add_role = d
bagged = false