//This is a comment. It will be ignored.
//
//
//batch can be either true or false
//when set to true, batch does not allow for much user interaction
//when set to false, batch allows for user interaction
batch = true
//
//hyphen can be either true of false
//when true hyphen sets the front matter notation to  -fr
//when false hyphen sets the front matter notation to _fr
hyphen = false
//
//delete_role deletes the specified character sequence as a valid role for file names
//for example, roles can not be digits
//delete_role = \d+
//eoc files are not typical roles of images
//delete_role = eoc
//The best solution is to simply delete any roles the autoExtract portion obtains
//and specify the roles that should be checked.
//this deletes all roles
delete_role = (\w|\W)+
//this specifies the roles to check
//sample roles for postcards using recto/verso naming convention
//add_role = r_m
//add_role = r_d
//add_role = v_m
//add_role = v_d
//sample roles for archival material
eoc_exists = true
target_exists = false
//
//
//add_role = m
//add_role = d
//add_role = de


pstart  = 1
bkstart = 1
frstart = 1

//pend  = 151
//bkend = 6
//frend = 12
uowDigits=10
//partner = fales
//cc  = aphe
//uowstart = 000001
//uowend = 000002
//postcard=true
role_none = true
role_archival = false
role_postcard = false
role_other = false